<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'js/lib/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'js/lib/bootstrap-3.3.7-dist/js/bootstrap.js' %}">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">

</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container pull-right">
            <button type="button" class="btn btn-primary navbar-btn"><a href="/blog/index/" class="text-color: white">首页</a> </button>
            <button type="button" class="btn btn-success navbar-btn">登录</button>
            <button type="button" class="btn btn-info navbar-btn">注册</button>
        </div>
    </nav>
    <div class="container">
        <div class="page_header">
            <div class="jumbotron">
                  <h1>Hello, Django!</h1>
                  <p>python----后台管理系统</p>
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="/static/img/xiaohuang.jpg" alt="..." class="img-circle">
                </li>
                <li class="list-group-item">博主名称：那坨</li>
                <li class="list-group-item">博主性别：男</li>
            </ul>
        </div>

        <div class="col-md-10">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">用户列表</h3>
              </div>
              <div class="panel-body">
                <!--<div class="table-responsive">-->
                  <table class="table table-bordered table-hover text-center">
                    <!--<tr class="active">用户标识</tr>-->
                    <!--<tr class="success">用户名称</tr>-->
                    <!--<tr class="warning">用户性别</tr>-->
                    <!--<tr class="danger">用户年龄</tr>-->
                    <!--<tr class="info">用户生日</tr>-->
                    <!--<tr>操作</tr>-->

                    <tr>
                        <td>用户标识</td>
                        <td>用户名称</td>
                        <td>用户性别</td>
                        <td>用户年龄</td>
                        <td>用户生日</td>
                        <td>操作</td>
                    </tr>
                    {% for user in user %}
                    <tr>
                        <td class="active">{{ forloop.counter }}</td>
                        <td class="success">{{user.username}}</td>
                        <td class="warning">{{user.gender}}</td>
                        <td class="danger">{{user.age}}</td>
                        <td class="info">{{user.birthday}}</td>
                        <td>
                          <a  href="/blog/update/{{user.id}}/" class="btn btn-primary">修改</a>
                            <!--传统传参-->
                            <!--<a  onclick="return window.confirm('您确实要删除该用户吗？');"  href="/blog/delete/?id={{user.id}}" class="btn btn-danger">删除</a>-->
                            <!--位置传参 和 命名传参-->
                            <a  onclick="return window.confirm('您确实要删除该用户吗？');"  href="/blog/{{user.id}}/delete/" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                      {% empty %}
                      <tr>
                          <td colspan="6">对不起，当前没有用户，<a href="/blog/reg/">请注册</a></td>
                      </tr>
                      {% endfor %}
                  </table>
                <!--</div>-->

              </div>
            </div>
        </div>
    </div>
</body>
</html>